body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 170%;
    text-align: center;
    font-weight: normal;
    /* margin: 0; */
}

h2 {
    font-size: 120%;
    font-weight: normal;
    margin: 0;
}

h3 {
    font-size: 160%;
    font-weight: normal;
}

a {
    color: black;
    text-decoration: none;
}


/* header and menu */

nav {
    display: flex;
    justify-content: right;
    gap: 4.2em;
    margin: 2em 3em 0em 0;
}

header {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.logo{
    width: 400px;
}

.right-side-nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.6em;
    /* flex-grow: 4; */
}

.divider{
    height: 5px;
    color: black;
    background-color: black;
    width: 100%;
}

.page-title{
    display: flex;
    justify-content: left;
}

/* .menu{
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    /* margin: 4% 0 10% 0; */
    /* gap: 3.5em;
} */ 

.menu-option{ 
    text-transform: uppercase;
    margin: 5px 0px;
}

#current-page{
    font-weight: bold;
    background-color: yellow;
}

/* product list */

.product-list{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    /* gap: 3em; */
    justify-content: space-evenly;
    margin: 2em;
}

.product-card{
    display: flex;
    flex-direction: column;
    /* margin: 5% 0; */
    width: auto;
}

.product-card:hover{
    background-color: yellow;
}

.product-card:hover .product-name{
    font-weight: bold;
}

.product-thumbnail{
    width: 285px;
    height: 285px;
    margin: 5px;
    border: black 3px solid;
}

.product-subtitle{
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 10px;
    gap: .1em;
    width: 275px;
}

.product-name{
    text-decoration: underline;
    text-wrap: wrap;
}

/* product detail page*/

.product-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-image{
    width: 600px;
    height: 600px;
    margin: 10px;
    border: black 3px solid;
}

.product-description{
    display: flex;
    flex-direction: column;
    width: 360px;
    gap: 2rem;
}

.price-cart{ 
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    align-items: center;
}

.button{
    border: 3px solid black;
    font-size: 100%;
    padding: 10px 50px;
    background-color: yellow;
}

/* cart page*/

.cart-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.cart-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6% 0;
}

.cart-thumbnail{
    width: 200px;
    height: 200px;
    border: black 3px solid;
}

.cart-item-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.remove-button{
    font-size: 80%;
    text-decoration: underline;
}

.cart-divider{
    height: 3px;
    color: black;
    background-color: black;
    width: 60%;
}