/* REFERENCES


*/

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
}

header {
    margin: 42px 46px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 16px;
}

footer {
    margin: 94px 46px 48px 46px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 16px;
}

nav { 
    display: flex;
    gap: 36px;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.bold {
    font-weight: 700;
}

.gen-section {
    margin: 42px 46px;
}

.bio {
    max-width: 890px;
    font-size: 29px;
}

