/* REFERENCES
https://www.w3schools.com/howto/howto_css_transition_hover.asp

*/



/* FONTS ------------------------------------------------------------- */

@font-face {
    font-family: 'AuthenticSans';
    src: url('../fonts/authentic-sans/AUTHENTICSans-Condensed-130.woff2') format('woff2');
    /* font-weight: 400; */
    font-style: condensed;
}

@font-face {
    font-family: 'AuthenticSans';
    src: url('../fonts/authentic-sans/AUTHENTICSans-60.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'AuthenticSans';
    src: url('../fonts/authentic-sans/AUTHENTICSans-90.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'AuthenticSans';
    src: url('../fonts/authentic-sans/AUTHENTICSans-130.woff2') format('woff2');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'AuthenticSans';
    src: url('../fonts/authentic-sans/AUTHENTICSans-150.woff2') format('woff2');
    font-weight: 900;
    font-style: bolder;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Inter-VariableFont_opsz\,wght.ttf') format('woff2');
}

@font-face {
    font-family: 'InstrumentSerif';
    src: url('../fonts/instrument-serif/InstrumentSerif-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'InstrumentSerif';
    src: url('../fonts/instrument-serif/InstrumentSerif-Italic.ttf') format('truetype');
    font-style: italic;
}

.inter {
    font-family: 'Inter';
}

/* OVERALL STYLE ------------------------------------------------------------- */

body {
    font-family: 'AuthenticSans', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #1e301f;
}

h1 {
    font-size: 100px;
    font-weight: 700;
}

h2 { /* PROBLEM STATEMENT */
    font-weight: 400;
    font-size: 40px;
}

h3 { /* SECTION LARGE HEADER */
    font-family: 'InstrumentSerif';
    font-style: italic;
    font-size: 54px;
    font-weight: 400;
    margin: 0;
}

h4 {
    font-size: 25px;
    margin: 1rem 0 0 0;
    font-weight: 900;
}

p {
    margin: 0.8rem 0 0.8rem 0;
}

a { 
    color:black;
    text-decoration: none;
}

header {
    margin: 42px 46px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2.5rem;
    justify-content: space-between;

    font-size: 16px;
}

footer {
    margin: 94px 46px 48px 46px;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    row-gap: 1.4rem;
    justify-content: space-between;

    font-size: 16px;
}

nav { 
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    color: #6e6d6a;
    transition: .1s;
}

.current-page {
    font-weight: bolder;
}

.bold {
    font-weight: 700;
}

.gen-section {
    margin: 42px 46px;
}

/* HOME PAGE ------------------------------------------------------------- */

.bio {
    max-width: 60%;
    font-size: 29px;
    text-align: justify;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-auto-flow: row; 
}


@media (max-width: 850px) {
    .bio {
        max-width: 80%;
    }
}

@media (max-width: 650px) {
    .bio {
        max-width: 100%;
    }

    .gallery {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 400px) {
    .bio {
        font-size: 22px;
    }
}

.gallery-card {
    width: 100%;
}

.gallery-card-image {
    max-width: 100%;
    aspect-ratio: 16/11;
    object-fit: cover; 
}

.gallery-card-text {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    padding: 0.8rem 0.5rem; /* horizontal padding for text */
}

.gallery-card-title {
    font-size: 26px;
}

.gallery-card-description {
    font-size: 20px; 
}

/* TAGS ------------------------------------------------------------- */

.gallery-card-tags {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    gap: 0.5rem;
}

.gallery-card-tag {
    border: 1.5px solid black;
    border-radius: 50px;
    font-size: .8em;
    display: flex;
    align-items: center;
    padding: 0.26rem 0.9rem 0.07rem 0.9rem;
    cursor: pointer;
}

#selected-tags-container .gallery-card-tag {
    position: relative;
    padding-right: 28px;
}

#selected-tags-container .gallery-card-tag:hover {
    background-color: #f6f5f4;
    /* color: #5e5d5a;
    border-color: #5e5d5a; */
    transition: .3s;
}
  
#selected-tags-container .gallery-card-tag img {
    position: absolute;
    right: 10px;
    top: 8px;
    width: 10px;
    height: 10px;
  }

.ux-design-tag:hover {
    background-color: #47613e;
    color: white;
    transition: .2s;
}

.ux-design-tag.selected {
    background-color: #47613e;
    color: white;
}

.service-design-tag:hover {
    background-color: #e8ba5d;
    transition: .2s;
}

.service-design-tag.selected {
    background-color: #e8ba5d;
}

.ux-research-tag:hover {
    background-color: #925a99;
    color: white;
    transition: .2s;
}

.ux-research-tag.selected {
    background-color: #925a99;
    color: white;
}

.healthcare-tag:hover {
    background-color: #81cdff;
    transition: .2s;
}

.healthcare-tag.selected {
    background-color: #81cdff;
}

.research-tag:hover {
    background-color: #c02424;
    color: white;
    transition: .2s;
}

.research-tag.selected {
    background-color: #c02424;
    color: white;
}

.communication-design-tag:hover {
    background-color: #ffbfee;
    transition: .2s;
}

.communication-design-tag.selected {
    background-color: #ffbfee;
}

#selected-tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    padding: 0 0 1rem 0;
}


/* PROJECT PAGE -------------------------------------------------------- */
/* PROJECT DETAIL COL -------------------------------------------------------- */

.project-detail-col {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    /* max-width: 50%; */
}

.project-tags {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.project-tag {
    /* display: inline-flex; */
    border: 1.5px solid black;
    border-radius: 16px;
    font-size: .9em;
    padding: 0.1rem 0.9rem;
    max-width: fit-content;
}

.project-details {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.project-detail {
    display: flex;
    flex-direction: column;
}

.project-detail p {
    margin: 0; /* chatGPT */
}

.project-detail p:first-child { /* chatGPT */
    font-weight: bold;
    text-transform: uppercase;
}

/* PROJECT COVER -------------------------------------------------------- */

.gen-section.project-details-banner {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    /* flex-wrap: nowrap;
    width: 100%; */
}

.project-cover-col {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    gap: 1.5rem;
}

.project-cover-image {
    display: flex;
    width: 100%;
}

/* PROJECT SECTIONS -------------------------------------------------------- */

#problem-statement {
    max-width: 70%;
    margin: 6rem 0;
}

.text-section {
    margin: 1rem 0;
}

.limit-600 {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.right-aligned {
    margin-left: auto;
}

.two-cols {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
}

@media (max-width: 1200px) {
    .two-cols {
        flex-wrap: wrap;
    }
}

.square-image {
    width: 100%;
    height: auto;
    min-width: 200px;
    /* max-width: 40%; */
    /* object-fit: cover;  */
}

.top-aligned {
    display: flex;
    align-items: fle;
}


/* RESUME -------------------------------------------------------- */

.resume {
    width: 100%;
    max-width: 1000px;
}

/* ABOUT ME -------------------------------------------------------- */

.about-me-cols {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.hero-image {
    max-width: 500px;
    max-height: 800px;
    object-fit: cover;
}

.image-and-quote {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.small-headshot {
    max-width: 200px;
    height: 250px;
}

.quote {
    text-align: right;
}

.about-me-text {
    margin-top: 1rem;;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.connect {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.connect-buttons {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-end;
}

.connect-button {
    border: 1.5px solid black;
    border-radius: 50px;
    padding: 1rem 2rem .8rem 2rem;
    cursor: pointer;
}

.connect-button:hover {
    background-color: #1e301f;
    color: white;
    transition: .25s;
}

@media (max-width: 1207px) {
    .image-and-quote {
        flex-wrap: wrap;
    }
    .quote {
        text-align: left;
    }
}

@media (max-width: 900px) {
    .about-me-cols {
        flex-direction: column;
    }

    .hero-image {
        max-height: 500px;
        max-width: 700px;
    }
}

